$background-color: #d0e8f2;
$white-color: #fff;
$black-color: #000;
$green-color: green;
$question-color: yellow;
$background-color-0: #336699;
$background-color-0h: #428bca;
$background-color-1: #1E90FF;
$background-color-1h: #1E90FF;
$background-color-2: #4A90E2;
$background-color-2h: #357ebd;
$background-color-3: #6FA1FF;
$background-color-3h: #1C86EE;
$background-color-4: #1976D2;
$background-color-4h: #0F5BBB;
$background-color-5: #3F51B5;
$background-color-5h: #2F3E9A;
$background-color-infor: #c2fbd7;

body {
    margin: 0;
    overflow: hidden;
    background-color: $background-color;
}

canvas {
    display: block;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

#levels {
    position: fixed;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

#level-0,
#level-1,
#level-2,
#level-3,
#level-4,
#level-5 {
    padding: 8px 32px;
    cursor: pointer;
    color: $white-color;
    border-radius: 8px;
}

#level-0 {
    background-color: $background-color-0;
}

#level-0:hover {
    background-color: $background-color-0h;
}

#level-1 {
    background-color: $background-color-1;
}

#level-1:hover {
    background-color: $background-color-1h;
}

#level-2 {
    background-color: $background-color-2;
}

#level-2:hover {
    background-color: $background-color-2h;
}

#level-3 {
    background-color: $background-color-3;
}

#level-3:hover {
    background-color: $background-color-3h;
}

#level-4 {
    background-color: $background-color-4;
}

#level-4:hover {
    background-color: $background-color-4h;
}

#level-5 {
    background-color: $background-color-5;
}

#level-5:hover {
    background-color: $background-color-5h;
}

.button-rules {
    --height: 40px;
    position: fixed;
    top: 10%;
    right: 8%;
    width: var(--height);
    height: var(--height);
    font-size: var(--height);
    line-height: var(--height);
    border-radius: 50%;
    text-align: center;
    background-color: $background-color-5;
    color: $question-color;
    cursor: pointer;
}

.rules {
    position: absolute;
    right: 8%;
    top: 16%;
    background-color: $background-color-0;
    color: $white-color;
    width: 600px;
    z-index: 1;
    border-radius: 4px;
    box-shadow: 2px 2px 2px $black-color;
    padding: 8px;
    display: none;
}

.rules::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 8px;
    top: -22px;
    border-width: 12px 16px;
    border-style: solid;
    border-color: transparent transparent $background-color-0 transparent;
}

.button-rules:hover + .rules,
.rules:hover {
    display: block;
}

.button-infor {
    background-color: $background-color-infor;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: $green-color;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: fixed;
    top: 18%;
    right: 4%;
}

.button-infor:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.infor {
    z-index: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $background-color-infor;
    color: $green-color;
    border-radius: 8px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    display: none;
}

.infor-cancel {
    position: absolute;
    right: 0;
    padding: 8px;
    cursor: pointer;
}

.infor-cancel:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.infor-content {
    padding: 8px;
}
